# Cleaning Data

This notebook is all about the meat of data science: evaluating and cleaning data. It covers a wide swath of different things and I expect it will be my most-referenced notebook. I also expect it to grow a lot with time, as I encounter different situations that require novel approaches to what is contained here. 

For now, these are the basic sections:

* Selecting/dropping and adding new columns
* Dealing with missing values
* Combining and separating
* Applying, mapping, and transforming
* Grouping and Aggregation
* Melting and Pivoting
* Date/time data
* Using dfply (maybe)

I'm likely to need a bunch of datasets to get things that are messed up enough for some of these things. I think the titanic dataset will do! I'll load my necessary libraries and that dataset before proceeding:

In [1]:
# Load libraries
import pandas as pd
import numpy as np
import seaborn as sns

# Load the seaborn titanic dataset
titanic = sns.load_dataset('titanic')
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None